@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Montserrat+Alternates&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#textcon{
  padding: 4px;
  text-align: center;
  color: #bababa;
  font-size: 14px;
}
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  display: block;
    margin: auto;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    background-color: #f3f3f3b6;
  }
  
  &:active {
    background-color: #eeeeee;
  }
}
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
.logo {
  text-align: center;
}
.logo br {
  font-size: 1px; /* Adjust the font size as per your requirement */
}
body,
input {
  font-family: 'Montserrat Alternates', sans-serif;

}
#loginDropdown{
  background-color: whitesmoke;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(241%2c 239%2c 239%2c 1)'%3e%3c/rect%3e%3cpath d='M-5.45 494.78 a10.52 10.52 0 1 0 21.04 0 a10.52 10.52 0 1 0 -21.04 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M91.49 449.08L131.5 449.08L131.5 489.09L91.49 489.09z' stroke='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M1424.66 48.01L1459.71 48.01L1459.71 83.06L1424.66 83.06z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M606.24 485.74L632.11 485.74L632.11 511.61L606.24 511.61z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M876.08 491.69 a7.72 7.72 0 1 0 15.44 0 a7.72 7.72 0 1 0 -15.44 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M962.12 477.1L975.97 477.1L975.97 532.95L962.12 532.95z' stroke='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M205.9 436.04L260.22 436.04L260.22 490.36L205.9 490.36z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M85.63 127.83L112.25 127.83L112.25 154.45L85.63 154.45z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M138.01 539.35L170.01 539.35L170.01 571.35L138.01 571.35z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1253.02 307.08L1279.2 307.08L1279.2 320.18L1253.02 320.18z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M340.36 182.35a55.53 55.53 0 1 0 0.81 111.05z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1008.22 36.26 a17.46 17.46 0 1 0 34.92 0 a17.46 17.46 0 1 0 -34.92 0z' stroke='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M543.51 44.36 a42.9 42.9 0 1 0 85.8 0 a42.9 42.9 0 1 0 -85.8 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M646.73 221.72 a22.01 22.01 0 1 0 44.02 0 a22.01 22.01 0 1 0 -44.02 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M94.92 32.73L118.83 32.73L118.83 40.53L94.92 40.53z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1233.93-35.01a46.84 46.84 0 1 0 49.63 79.46z' stroke='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M689.53 482.55L697.84 482.55L697.84 490.86L689.53 490.86z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M748.55 517.01a1.71 1.71 0 1 0-1.69-2.97z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M227.33 215.56L232.04 215.56L232.04 230.32L227.33 230.32z' fill='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M1383.74 307.6L1415.73 307.6L1415.73 339.59L1383.74 339.59z' fill='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M306.08 531.73a2.84 2.84 0 1 0-3.24-4.67z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M702.71 57.45L737.84 57.45L737.84 92.58L702.71 92.58z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M731.85 69.59 a54.36 54.36 0 1 0 108.72 0 a54.36 54.36 0 1 0 -108.72 0z' fill='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M28.8 363.77 a45.38 45.38 0 1 0 90.76 0 a45.38 45.38 0 1 0 -90.76 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1350.95 186.94L1405.84 186.94L1405.84 238.59L1350.95 238.59z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M330.01 430.02L339.77 430.02L339.77 439.78L330.01 439.78z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M272.33 59.07L319.91 59.07L319.91 106.65L272.33 106.65z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1322.54 507.37L1333.01 507.37L1333.01 535.12L1322.54 535.12z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M690.11 360.12 a10.95 10.95 0 1 0 21.9 0 a10.95 10.95 0 1 0 -21.9 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1336.21 130.2a42.8 42.8 0 1 0 76.34-38.73z' fill='rgba(48%2c 56%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M331.21 85.21L354.55 85.21L354.55 127.3L331.21 127.3z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M243.57 518.8L265.97 518.8L265.97 541.2L243.57 541.2z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M693.64 542.53a4.14 4.14 0 1 0 4.97 6.62z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-size: cover;
background-repeat: no-repeat;

padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 590px;
  background-color: #fff;
  border-radius: 1.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
  border: #aaa;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
  
}

.logo {
  display: flex;
  align-items: center;
}


.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #151111;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #8371fd;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}
.logtext{
  margin-top: -1rem;
}
.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #603ce6;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.sign-btn:hover {
  background-color: #6a5cc4;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
  transform: translateY(-20px);
}

.text a {
  color: #bbb;
  transition: 0.3s;
 
}

.text a:hover {
  color: #8371fd;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: white;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.hide {
  display: none;
}
.image {
  width: 100%;
 height: 90%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
margin-top: -4rem;

}

.text-wrap {
  max-height: 3.1rem;
  overflow: hidden;
  margin-bottom: 2.3rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}
   
.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.4rem;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}
.actual-form{
  margin-top: 20px;
  }
  
.dropdown{
  margin-top: -1rem;
}
.formsignin{
  margin-top: -1.7rem;
}


#usertype{
  border: #bababa;
 background: transparent;
  width: 40%;
}
#loginDropdownn{
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  width: 14rem;
}
#usertype{
width: 210px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
color: #333;
background-color: #F1EFEF;
margin-top: -1.4rem;
}







@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }

  .text-slider{
    margin-top: 3rem;
}
.actual-form{
margin-top: 2rem;
}
.dropdown{
  margin-top: -3.7rem;
}
#secropdown{
  margin-top: -2rem;
}
.sign-in-form{
  margin-top: -1.8rem;
}
select{
  position: relative;
  top: -22px;
}

}





@media (max-width: 528px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }

  .bullets{
    margin-top: -1rem;
}


}


@media (max-width: 390px) {
    .text-slider{
        margin-top: 2rem;
    }
    
}